* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Navbar Styles */
.navbar {
  background-color: #348300;
  color: rgb(255, 255, 255);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  font-size: 1.5rem;
}

.navbar ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.navbar li {
  cursor: pointer;
  font-weight: bold;
}

/* Main Container */
.main-container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

/* Sidebar Styles */
.sidebar {
  background-color: #f4f4f4;
  padding: 1rem;
  overflow-y: auto;
}

.sidebar h2 {
  margin-bottom: 1rem;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 0.3rem;
  margin-bottom: 0.3rem;
  /*border: 1px solid #ddd;*/
  cursor: pointer;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #348300;
  background-color: #ffffff;
}

.sidebar li:hover {
  color:#ffffff;
  background-color: #348300;
}

/* Resizer */
.resizer {
  width: 5px;
  background-color: #348300;
  cursor: col-resize;
}

.resizer:hover {
  background-color: #2a6a00;
}

/* Content Styles */
.content {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
}

.content h2 {
  margin-bottom: 1rem;
}

.content li {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: white;
  cursor: pointer;
  color: #000000;
  font-weight: bolder;
  /*border: 1.5px solid #348300;*/
  font-size: large;
}
.content ul {
  list-style: none;
}

.content li:hover {
  color: #2a6a00;
}

